

div.header {
    position: fixed;
    top:0;
    left:0;
    background-color: indigo;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
div.header > div > p {
    color:white;
    font-family: 'Jost', sans-serif;
    font-size: 2em;
    padding: 0;
    margin:0;
    padding: 0.25em;
}