body{ 
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(240,240,240);
}

div.container {
    position: relative;
    width:85%;
    height:140vh;
    top:5.25em;
    left: 9em;
    transition:width 1s ease;
}
@media screen and (min-width:1470px) {
    div.container {
        width:90%;
    }
}
@media screen and (max-width:1000px) {
    div.container {
        width:80%;
    }
}
@media screen and (max-width:750px) {
    div.container {
        width:75%;
    }
}
@media screen and (max-width:630px) {
    div.container {
        width:65%;
    }
}