/* Connect-Lite : General Styles & Variables
 *************************************************
 * Holds general styles and global style variables
 */

body{ 
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(240,240,240);
}

