/* Connect-Lite : User Skills Section Stylesheet
 ************************************************
 * Holds styles specific to the skills section
 * and containers on the user page
 */

 div.skills-summary-section {
    padding:1em;
}


div.chart-toggle-menu {
    margin:0 auto;
    padding-top: 1em;
}
div.chart-toggle-menu > div {
    width: min-content;
    display: flex;
    flex-wrap: nowrap;
    margin:0 auto
}
div.chart-toggle-menu > div > button {
    width: max-content;
    font-size: 1.35em;
    border:1px solid paleturquoise;
    padding:0.5em;
    transition:background-color 600ms ease;
    color:gray
}
div.chart-toggle-menu > div > button:first-child {
    border-top-left-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
}
div.chart-toggle-menu > div > button:nth-child(2) {
    border-top-right-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}
div.chart-toggle-menu > div > button.selected {
    background-color: turquoise;
    color:white
}



div.pie-chart-container {
    width:60%;
    display: block;
    margin: 0 auto;
}




div.add-skill-button{
    border-radius: 1.6em;
    border:2px solid gray;
    height:2em;
    width:2em;
}

div.summary-list-container {
    display:flex;
    
}