/* Connect-Lite : General User Page Stylesheet
 **********************************************
 * Holds styles specific to general sections
 * and containers on the user homepage
 */


/* Profile Header Styles
 *
 */
div.profile-header {
    background-image:url('../../img/hex-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 auto;
    box-shadow: 1px 1px 4px lightslategray;
    display:flex;
    padding:1em
}
div.profile-header > div > img {
    border-radius: 50%;
    border:4px solid white;
    margin-bottom:-2.5em;
}
div.profile-header > div:nth-child(2) {
    margin-left:1em;
}
div.profile-header > div:nth-child(2) > p:first-child {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    padding: 0;
    margin:0;
}
div.profile-header > div:nth-child(2) > p:nth-child(2) {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    color:gray;
    padding: 0;
    padding-top: 1em;
    margin:0;
}



/* Profile Toggle Menu Styles
 *
 */
div.profile-toggle-menu {
    background-color:indigo;
    margin:0 auto;
    padding-top:1em; 
    box-shadow: 1px 1px 4px lightslategray;
    display:flex;
}
div.profile-toggle-menu > div {
    margin-left:14em;
}
div.profile-toggle-menu > div > button {
    color:white;
    border:none;
    background-color: transparent;
    font-family: 'Jost', sans-serif;
    font-size: 1.25em;
    margin-right: 1.5em;
    transition: color 300ms ease;
}
div.profile-toggle-menu > div > button:hover {
    color:gray;
    background-color: transparent;
}
div.profile-toggle-menu > div > button.selected {
    color:white;
    border-bottom: 6px solid gray;
}





