
div.news-section {
    background-image:url('../../img/standard-bg-light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 4px lightslategray;
    padding: 1em;
    margin-bottom:1em;
}

div.post-list {
    display: flex;
    flex-wrap: wrap;
}
div.news-section > p {
    font-family: 'Lato';
    /* font-weight: 600; */
    font-size:2em;
    margin: 0;
}




div.post {
    box-shadow: 1px 1px 4px lightslategray;
    cursor: pointer;
    padding: 1em;
    background-color: white;
    margin: 1em auto;
    transition: box-shadow 300ms ease;

    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.post:hover{
    box-shadow: 1px 1px 8px lightslategray;

}
@media screen and (max-width:900px) {
    div.post {
        width: 100% !important;
    }
}
div.post > div {
    display: flex;
    justify-content: space-between;
}
div.post > p {
    font-family: 'Lato';
    font-size: 1.1em;
}
div.post > div > p {
    margin:auto 0;
    font-family: 'Lato';
    font-size: 1.1em;
    font-weight: 700;
}
