



div.content {
    margin:0 auto;
}
div.column-container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
div.content-row {
    width:100%;
}
div.content-column {
    width:48%;
}
div.content-column-sm {
    width:35%;
    transition: width 1s ease;
}
div.content-column-lg {
    width:63%;
    transition: width 1s ease;
}
@media screen and (max-width:1150px) {
    div.column-container{
        display: block;
        justify-content: normal;
    }
    div.content-column-sm {
        width:100%;
    }
    div.content-column-lg {
        width:100%;
    }
    div.content-column {
        width:100%;
    }
}



div.content-section {
    border-top:2em solid indigo;
    margin: 1.5em 0;
    box-shadow: 1px 1px 4px lightslategray;
    padding:1em;
}
div.content-section-header {
    background-color: indigo;
    margin-top: 1em;
}
div.content-section-header > p {
    color:white;
    font-family: 'Lato',sans-serif;
    font-size:1.25em;
    padding: 0.5em;
}
div.borderless-content-section {
    box-shadow: 1px 1px 4px lightslategray;
    margin-top: -1.5em;
}



div.section-header {
    display: flex;
    justify-content: space-between;
}
div.section-header > p {
    font-size: 2em;
    font-weight: 600;
    font-family: 'League Gothic', sans-serif;
    margin:0.5em 0;
}
div.section-header > button {
    color:darkslategray;
    font-size: 1em;
    padding:0.25em;
    font-family: 'Lato', sans-serif;
    height: min-content;
    margin-top: 1em;
    border:0.15em solid darkslategray;
    border-radius:0.2em
}
div.section-content > p {
    color:darkslategray;
    font-size: 1.2em;
    font-weight: 600;
    padding:0.25em;
    font-family: 'Lato', sans-serif;
}





hr.vertical-divider {
    border:1px solid gray;
    height: inherit;
    margin: 2em auto
}