/* Profile Header Styles
 *
 */
 div.books-header {
    background-image:url('../../img/hex-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:1em auto;
    box-shadow: 1px 1px 4px lightslategray;
    padding:1em;
}
div.books-header > div:first-child > p {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    padding: 0;
    margin:0;
    color:white;
}
@media screen and (max-width:700px) {
    div.books-header > div:first-child > p{
        font-size: 2em;
    }
}
div.books-header > div:nth-child(2) > p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    padding: 0;
    margin:0;
    color:white;
    font-style: italic;
}








div.book-section {
    background-image:url('../../img/standard-bg-light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 4px lightslategray;
    padding: 2em;
    margin-bottom: 1em;
}

div.book-section > p {
    font-family: 'Lato';
    font-size:2em;
    margin: 0;
    margin-bottom: 1em;
}

div.book {
    box-shadow: 1px 1px 4px lightslategray;
    background-color: white;
    padding: 2em;
}

div.book:nth-child(2) > div:first-child {
    background-image: url('../../img/diversity.png');
    background-position: center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

div.book:nth-child(3) > div:first-child {
    background-image: url('../../img/education.png');
    background-position: center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

div.book > div:nth-child(2){
    padding:2em 0;
}
div.book > div:nth-child(2) > p:first-child {
    font-family: 'Lato';
    font-size: 1.5em;
}

div.book > div:nth-child(2) > p:nth-child(2) {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    text-align: justify;
}
@media screen and (max-width:700px) {
    div.book > div:nth-child(2) > p:nth-child(2) {
        font-size: 1em;
    }
    div.book {
        padding:0.7em;
    }
    div.book > div:first-child {
        height: 14em;
    }
}
div.book > div:nth-child(2) > button {
    background-color: ;
    border:none;
    padding: 1em;
    border-radius: 0.4em;
    margin:1em auto;
    display: block;
    color:white;
    background-color: rgb(65, 133, 146);
}
div.book > div:nth-child(2) > button:active {
    background-color: rgb(35, 113, 146);
}