div.footer {
    background-image:url('./hex-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 4px lightslategray;
    padding: 1em;
    margin-bottom: 2em;

    display:flex;
    flex-wrap: wrap;
}
div.footer > div{
    width: 30%;
    /* margin: 0 auto; */
}
@media screen and (max-width:700px) {
    div.footer > div {
        width:95%;
    }
}
div.footer > div > p {
    color:white;
    font-family: 'Lato';
    font-size: 1.4em;
    border-bottom: 0.2em solid white;
    margin-bottom:0.25em;
}
div.footer > div > div {
    display: flex;
    flex-direction: column;
}
div.footer > div > div > button {
    background-color: transparent;
    border:none;
    color:white;
    cursor: pointer;
    text-align: left;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1em;
}
div.footer > div > div > button:hover {
    color:gray;
}




div.email {

}
div.email > div {
    border:2px solid darkslategray;
    margin:1em auto;
}
div.email > div > p {
    font-family: 'Lato';
    font-weight: bold;
}
div.email > div > input,div.email > div > textarea {
    width:90%;
    padding:0.2em 0;
    font-family: 'Lato';
    font-size: 1em;
}
div.email > button {
    margin: 0 auto;
    display: block;
    border:none;
    padding:0.5em;
    font-family: 'Lato';
    font-size: 1.3em;
    border-radius:0.2em;
    color:white;
    background-color: darkcyan;
    cursor: pointer;
}
div.email > button:hover {
    background-color: gray;

}
div.email > button:active {
    background-color: darkcyan;

}

div.email-sent >  p {
    font-family: 'Lato';
    font-size: 1.7em;
    font-weight: bold;
    margin: 0 auto;
}